<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.vtiger.tests.AccountTest"/>
      <class name="com.vtiger.tests.ContactsTest"/>
      <class name="com.vtiger.tests.LeadTest"/>
      <class name="com.vtiger.tests.RSSTest"/>
      <class name="com.vtiger.tests.PotentialTest"/>
      <class name="com.vtiger.tests.CalenderTest"/>
      <class name="com.vtiger.tests.ProductsTest"/>
      <class name="com.vtiger.tests.ActivitiesTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
